.header {
    margin-left: 20px;
    width: 50%;
}

body {
    background-color: #1e1e1e;
}


.location {
    padding-left: 50px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    width: 100%;
}

.location:hover {
    opacity: 50%;
    color: white;
    cursor: pointer;
    background: none;

}

.title:hover {
    background: none;
    opacity: .5;
    cursor: pointer;
    }

.titleStudy {
    display: inline-block;
    size: 25px;
    color: lightgray;
    font-family: 'Plus Jakarta Sans', serif;
}

.reviewCards {
    z-index: -1;
}
.titleSpot {
    display: inline-block;
    size: 25px;
    color: lightgray;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px lightgray;
    font-family: 'Plus Jakarta Sans', serif;
}

.homeAndSearchContainer {
    background: gray;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.spot-container {
    margin: 0px;
    display: inline-block;
    color: white;
    width: 100%;
    height: 100%;
}

.card-div {
    height: 100px;
}

.card-items {
    display: inline;
    text-align: center;
    color:black;
}

.name-container {
    text-align: center;
    color: black;
    position: relative;
    margin-top: 100px;
    font-size: 25px;
    margin-left: 50px;
}

.name {
    padding-left: 50px;
    color: white;
    font-size: 50px;
    margin-right: 10px;
    margin-top: 20px;
    display: inline-block;
}

.textBox {
    padding-bottom: 5px;
}

.card_container {
    display: inline-block;
    margin-right: auto;
    width: 100%;
    margin-left: 42px;
    color: black;
}

.locationInfoContainer {
    display: flex;
    flex-direction: row;
}

.rating {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    font-size: 45px;
    margin-bottom: 20px;
}

.score {
    padding-bottom: 10px;
}

.capacity {
    padding-left: 50%;
    font-size: 25px;
    float: right;
    width:100%;
}

.timestamp {
    font-size: 15px;
}

.cardss {
    color:black;   
}

.line {
    height: 2px;
    width:100%;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal {
    padding-left: 100px;
}