* {
  color: white;
}

html, body {
  height:100%;
}

body {
  background-color: #1e1e1e;
  width: 100%;
  height: 100%;
  background-image: url("./images/UBC-Vancouver-campus-2.jpg");
  backdrop-filter: brightness(50%);
}

.header {
  margin-left: 20px;
}

.titleStudy {
  display: inline-block;
  size: 25px;
  color: lightgray;
 font-family: 'Plus Jakarta Sans', serif;
}
.titleSpot {
  display: inline-block;
  size: 25px;
  color: lightgray;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px lightgray;
 font-family: 'Plus Jakarta Sans', serif;
}


